{
    "extends": "src/extensions/coreplayer-mediaelement-extension/extension.config",
    "options":
    {
        "preloadMoreInfo": true
    },
    "modules":
    {
        "genericDialogue":
        {
            "content":
            {
                "emptyValue": "please enter a value",
                "pageNotFound": "page not found",
                "sessionExpired": "Your session has expired, please refresh to log in again",
                "refresh": "Refresh"
            }
        },
        "conditionsDialogue":
        {
            "content":
            {
                "title": "Conditions of use",
                "A": "You have permission to make copies of this work under a <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc/2.0/uk/\">Creative Commons, Attribution, Non-commercial license</a>.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. See the <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc/2.0/uk/legalcode/\">Legal Code</a> for further information.<br/><br/>Image source should be attributed to the Wellcome Library.",
                "B": "You have permission to reuse this work under an Attribution Non-commercial license.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. <br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "C": "You have permission to reuse this image under an Attribution Non-commercial, No derivatives license.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. <br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Altering, adapting, modifying or translating the work is prohibited.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "D": "You have permission to make copies of this work for private use only.<br/><br/>Sharing (issuing, performing or communicating) copies of the work in whole or in part (in print or electronic form) with others is prohibited.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "E": "You have permission to reuse this work under an Attribution, Non-commercial license, however only extracts from this work (single images, or parts of images) may be downloaded.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation.<br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "F": "You have permission to reuse this work under an Attribution, Non-commercial, no derivatives license, however only extracts from this work (single images, or parts of images) may be downloaded.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. <br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Only extracts from this work (single images, or parts of images) may be downloaded.<br/><br/>Altering, adapting, modifying or translating the work is prohibited.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "G": "You have permission to make copies of this work for private use only, however only extracts from this work (single images, or parts of images) may be downloaded. <br/><br/>Sharing (issuing, performing or communicating) copies of the work in whole or in part (in print or electronic form) with others is prohibited.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "J": "You have permission to make copies of this work under an Attribution, Non-commercial license. Additionally, you must not misuse any personal or sensitive data. Where such data exists, it must be anonymised before the image is reused.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation.<br/><br/>Image source should be attributed to the Wellcome Library.",
                "K": "You have permission to make copies of this work under a <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc-nd/2.0/uk/\">Creative Commons, Attribution, Non-commercial, No-derivatives license</a>. <br/><br/> Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. See the <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc-nd/2.0/uk/legalcode/\">Legal Code</a> for further information.<br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/> Altering, adapting, modifying or translating the work is prohibited.",
                "L": "You have permission to make copies of this work under a <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc/2.0/uk/\">Creative Commons, Attribution, Non-commercial license</a>. <br/><br/> Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. See the <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc-nd/2.0/uk/legalcode/\">Legal Code</a> for further information.<br/><br/>Image source should be attributed to the Wellcome Library.",
                "M": "You have permission to make copies of this work under a <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc-nd/2.0/uk/\">Creative Commons, Attribution, Non-commercial, no-derivatives license</a>.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. See the <a target=\"_top\" href=\"http://creativecommons.org/licenses/by-nc-nd/2.0/uk/legalcode/\">Legal Code</a> for further information.<br/><br/>Altering, adapting, modifying or translating the work is prohibited.<br/><br/>Image source should be attributed to the Wellcome Library.",
                "N": "You have permission to reuse this work under an Attribution, Non-commercial license.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. <br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).", 
                "O": "You have permission to reuse this work under an Attribution, Non-commercial, No derivatives license.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation. <br/><br/>Image source should be attributed to the Wellcome Library.<br/><br/>Altering, adapting, modifying or translating the work is prohibited.<br/><br/>The terms of this license have been agreed with the copyright holder(s).",
                "P": "You have permission to make copies of this work for private use only.<br/><br/>Sharing (issuing, performing or communicating) copies of the work in whole or in part (in print or electronic form) with others is prohibited.<br/><br/>Where applicable the terms of this license have been agreed with the copyright holder(s).",
                "Q": "You have permission to make copies of this work under an Attribution, Non-commercial license. Additionally, you must not misuse any personal or sensitive data. Where such data exists, it must be anonymised before the image is reused.<br/><br/>Non-commercial use includes private study, academic research, teaching, and other activities that are not primarily intended for, or directed towards, commercial advantage or private monetary compensation.<br/><br/>Image source should be attributed to the Wellcome Library."
            }
        },
        "loginDialogue":
        {   
            "options":
            {
                "forgotPasswordUri": "https://catalogue.wellcomelibrary.org/pinreset~S8",
                "registerUri": "https://catalogue.wellcomelibrary.org/selfreg"
            },
            "content":
            {
                "title": "Log in",
                "usernameLabel": "Library card number or username:",
                "passwordLabel": "Password",
                "nextItem": "Next Visible Item",
                "forgotPassword": "Forgot password",
                "register": "Join the Library",
                "login": "Log in",
                "orLoginWith": "Or log in with:",
                "signInWithTwitter": "Sign in with Twitter",
                "signInWithFacebook": "Sign in with Facebook",
                "signInWithGoogle": "Sign in with Google",
                "signInWithOpenID": "Sign in with OpenID",
                "requiresRegistrationPermissionsMessage": "You are logged in, but do not have permission to see restricted items.",
                "restrictedFilesPermissionsMessage": "You are logged in, but do not have permission to see restricted items.",
                "clinicalImagesPermissionsMessage": "You are logged in, but do not have permission to see clinical items.",
                "closedPermissionsMessage": "You are logged in but do not have permission to see closed content.",
                "inadequatePermissionsMessage": "You do not have the correct permissions to view this item. Please continue to the next item or enter new credentials.",
                "loginExpiredMessage": "Your session has expired due to inactivity, please log in again.",
                "defaultMessage": "Archival material less than 100 years old requires registration and login to view."
            }
        },
        "moreInfoRightPanel":
        {
            "options":
            {
                "panelCollapsedWidth": 30,
                "panelExpandedWidth": 255,
                "panelAnimationDuration": 250
            },
            "content":
            {
                "title": "Title",
                "credits": "Credits",
                "date": "Date",
                "physicalDescription": "Physical Description",
                "summary": "Summary",
                "reference": "Reference",
                "authors": "Author(s)",
                "edition": "Edition",
                "publicationDate": "Publication Date",
                "catalogueReference": "Catalogue Reference",
                "copyright": "Copyright",
                "conditions": "View full conditions of use",
                "viewCatalogueRecord": "View full catalogue record"
            }
        },
        "downloadDialogue":
        {
            "content":
            {
                "title": "Download",
                "currentViewAsJpg": "Current view (jpg)",
                "wholeImageHighResAsJpg": "Whole image high res (jpg)",
                "wholeImageLowResAsJpg": "Whole image low res (jpg)",
                "entireDocumentAsPdf": "Entire document (pdf)",
                "entireFileAsOriginal": "Entire file ({0})"
            }
        },
        "extendedFooterPanel":
        {
            "content":
            {
                "fullScreen": "Full Screen",
                "exitFullScreen": "Exit Full Screen",
                "save": "Save to Bookmarks",
                "download": "Download",
                "embed": "Embed"
            }    
        }
    }
}